body {
  font-family: 'Poppins', sans-serif;
}
.big {
  background: url(/images/WhatsApp\ Image\ 2022-02-25\ at\ 10.37.24\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 400px;
  background-position: 0 -20px;
}
.first {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
span {
  color: rgb(212, 169, 176);
}
.port {
  margin-right: 350px;
}
.home ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.home li {
  padding-right: 20px;
  color: pink;
}
a:hover {
  color: red;
}
.hire button{
  background-color: pink;
  width: 100px;
  height: 27px;
  border: 0px;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  border-color: none;
}
.me {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.me h2 {
  margin-top: 5px;
}
.me h3 {
  margin-top: 1px;
}
hr {
  width: 300px;
  margin-top: -18px;
  background-color: pink;
}
.desc {
  display: flex;
  flex-direction: row;
}
.pic img {
width: 300px;
height: 400px;
border-radius: 10px;
}
.words {
text-align: center;
margin-right: 70px;
margin-top: 40px;
}
.cv button{
background-color: pink;
width: 180px;
height: 27px;
border: 0px;
border: none;
margin-left: 10px;
border-radius: 10px;
}